<div class="toolbar">
	<ul class="toolbar-nav">
		<li title="Home"><a href="{{ '/blog' }}"><i class="fa fa-home fa-lg"></i></a></li>
		<li title="About Me"><a href="{{ '/about' }}"><i class="fa fa-user fa-lg"></i></a></li>
		<li title="Follow Me on Github"><a href="{{ site.github }}"><i class="fa fa-github fa-lg"></i></a></li>
		<li title="Follow Me on Twitter"><a href="{{ site.twitter }}"><i class="fa fa-twitter fa-lg"></i></a></li>
		<li title="Subscribe Me"><a href="{{ '/feed.xml' | prepend: site.baseurl }}"><i class="fa fa-rss fa-lg"></i></a></li>
	</ul>
</div>
