<p>
  Unless otherwise noted, code is <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> and graphics (excluding the blog art) is <a href="http://creativecommons.org/licenses/by/3.0/">CC BY License</a>.
</p>

<p>
  &copy; {{ site.time | date: "%Y" }} {{ site.author }}.
  <a href="http://johannaost.com/813-the-pug-automatic">Pug art</a>
  by <a href="http://johannaost.com">Johanna Öst</a>.
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a>, with a custom theme.</span>
</p>
