<header class="site-header">
  <div class="the-pug">
    <a href="{{ root_url }}/">
      <img src="/images/custom/pug_1x.png" srcset="/images/custom/pug_2x.png 2x, /images/custom/pug_3x.png 3x" alt="">
    </a>
  </div>
  <h1 class="site-title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  <p class="site-intro">
    A blog by <a href="http://henrik.nyh.se/">Henrik Nyh</a>.
    <a href="{{ site.subscribe_rss }}">Subscribe by RSS.</a>
  </p>

  <p class="site-intro">
    Follow <a href="http://twitter.com/henrik">@henrik</a> on Twitter.
  </p>

  {% if site.simple_search %}
  <form action="{{ site.simple_search }}" method="get">
    <fieldset role="search">
      <input type="hidden" name="sitesearch" value="{{ site.url | shorthand_url }}" />
      <input class="search" type="search" name="q" results="0" placeholder="Search via Google"/>
    </fieldset>
  </form>
  {% endif %}
</header>
