---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1>{{ page.title }}</h1>
	</header>

	<div class="meta">
		<span>作者：<a href='{{ site.url }}'>Hayden Wei</a></span>
		<span>日期：{{ page.date | date: "%Y-%m-%d" }}</span>
	</div>
	<article class="post-content">
		{{ content }}
	</article>

</div>

<div class="post-info">
  <img src="/assets/image/alipay-qr.png" width=160 />
  <div>
    <ul>
      <li>版权声明：自由转载-非商用-非衍生-保持署名（<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a>）</li>
      <li>发表日期：{{ page.date | date: "%Y年%m月%d日" }}</li>
      <li>文章内容仅代表作者观点，若有不同观点欢迎留言进行讨论</li>
      <li>如果本文对您有帮助，欢迎支付宝扫描左侧二维码捐赠博主进行更多写作</li>
    </ul>
  </div>
</div>

<div class="ds-thread" data-thread-key="{{ page.duoshuo_thhead_key }}" data-title="{{ page.title }}" data-url="{{ site.url}}{{page.url }}"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"haydenblog"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
